
<div class="container">
    <div class="row">
      <app-search-pokemon></app-search-pokemon>
      <div class="col s12 m4" *ngFor="let pokemon of pokemonList">
        <!-- Card Layout -->
        <div (click)="GoToPokemon(pokemon)" class="card horizontal style=display: flex; align-items: center;" appBorderCard>
          <div class="card-image style=display: flex">
            <img 
              src="{{ pokemon.picture }}" 
              alt="{{ pokemon.name }}" 
              class="responsive-img" 
              style="width: 200px; "
            >
          </div>
          <div class="card-stacked">
            <div class="card-content" style="padding: 0;">
              <h6>{{ pokemon.name  }}</h6>
              <p>{{ pokemon.created | date: "dd/MM/yyyy"}}</p>
              <p *ngFor="let type of pokemon.types" class="{{ type | pokemonTypeColor }}">
                  {{ type }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  

  <a class="btn-floating btn-large waves-effect waves-light green z-depth-3"
  style="position: fixed; bottom: 25px; right: 25px"
  routerLink="/pokemon/add">
  +</a>
